@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap%22");

  .b3 html, .b3 body {
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
  }
  .b3 .container {
    max-width: 100%;
    height: 100%;
    width: 430px;
    position: relative;
  }
  .b3 .container .wrapper2 {
    position: relative;
    max-width: 100%;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    border: 2px dashed #c2cdda;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }
  .b3 .wrapper2.active {
    border: none;
  }
  .b3 .wrapper2 .image {
    position: relative;
    max-width: 100%;
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: center;

  }

  .b3 .wrapper2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .b3 .wrapper2 .icon {
    font-size: 100px;
    color: #9658fe;
  }

  .b3 .wrapper2 #cancel-btn i {
    position: absolute;
    font-size: 20px;
    right: 5%;
    top: 5%;
    color: #1bdbe0;
    cursor: pointer;
    display: none;
  }

  .b3 .wrapper2.active:hover #cancel-btn i {
    display: block;
  }

  .b3 .wrapper2 #cancel-btn i:hover {
    color: #e74c3c;
  }

  .b3 .wrapper2 .file-name {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 3% 3%;
    font-size: 18px;
    color: #fff;
    display: none;
    background: #1bdbe0;
  }

  .b3 .wrapper2.active:hover .file-name {
    display: block;
  }

   .underline-ordo {
    content: "";
    /* border: 1px solid #d3d3d3; */
    border-bottom: 1px solid #d3d3d3;
    align-self: stretch;
  }

   .uperline-ordo {
    content: "";
    /* border: 1px solid #d3d3d3; */
    border-top: 1px solid #d3d3d3;
    align-self: stretch;
  }
   .footer-ordo {
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: solid 1px red;
  }
   .footer-ordo span {
    align-self: flex-end;
  }
   .medicine-ordo {
    margin-bottom: 1%;
  }
   .bot-ordo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* height: -webkit-fill-available; */
    height: inherit;
  }
   .flex-column-ordo{
    display: flex;
    flex-direction: column;
  }
   .flex-column-med-ordo {
    display: flex;
    justify-content: start;
    flex-direction: column;
    text-align: left;
  }
   .flex-row-ordo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 7pt;
    margin-right: 7pt;
  }
   .flex-img-div-ordo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7pt;
    margin-right: 7pt;
    align-items: flex-end;
  }
   hr.solid-ordo {
    border-top: 3px solid #bbb;
    align-self: stretch;
  }
   .flex-column-ordo > hr.solid-ordo {
    border-top: 3px solid #bbb;
    align-self: stretch;
  }
   .logo-place-ordo {
    width: 30%;
    margin-right: 15%;
  }
   .logo-title-lpace-ordo {
    margin-top: 0;
    margin-bottom: 0;
    color: #2d99be;
  }
   .OrdonnanceCont-ordo {
    width: 130mm;
    height: 180mm;
    border-width: 0.1mm;
    border-color: black;
    border-style: solid;
    vertical-align: middle;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
   .addressUnder-ordo {
    margin-right: 5pt;
  }